{
  "openapi": "3.1.0",
  "info": {
    "title": "Dharma Agent Fabric API",
    "version": "0.1.0",
    "description": "Organization-scoped control-plane API for onboarding, local agents, managed ADK, cloud BYOK, trajectories, evaluation, remediation, skills, A2A tasks, and usage. Customer credentials authenticate only to Dharma HQ."
  },
  "servers": [{ "url": "https://hq.dharma-ai.io" }],
  "security": [{ "organizationToken": [] }],
  "paths": {
    "/api/v1/orgs/{orgId}/agent-fabric/onboarding": {
      "get": { "operationId": "getAgentFabricOnboarding", "summary": "Get the autonomous onboarding state", "parameters": [{ "$ref": "#/components/parameters/orgId" }], "responses": { "200": { "$ref": "#/components/responses/Success" }, "401": { "$ref": "#/components/responses/Error" }, "403": { "$ref": "#/components/responses/Error" } } },
      "post": { "operationId": "startAgentFabricOnboarding", "summary": "Start idempotent purchase-backed provisioning", "parameters": [{ "$ref": "#/components/parameters/orgId" }, { "$ref": "#/components/parameters/idempotencyKey" }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OnboardingRequest" } } } }, "responses": { "202": { "$ref": "#/components/responses/Success" }, "400": { "$ref": "#/components/responses/Error" }, "403": { "$ref": "#/components/responses/Error" }, "409": { "$ref": "#/components/responses/Error" } } }
    },
    "/api/v1/orgs/{orgId}/agent-fabric/byok/gcp": {
      "get": { "operationId": "getGcpByokBinding", "summary": "Get the credential-free GCP BYOK setup state", "parameters": [{ "$ref": "#/components/parameters/orgId" }], "responses": { "200": { "$ref": "#/components/responses/Success" }, "403": { "$ref": "#/components/responses/Error" } } },
      "post": { "operationId": "configureOrVerifyGcpByokBinding", "summary": "Configure or verify GCP BYOK through workload identity federation", "parameters": [{ "$ref": "#/components/parameters/orgId" }, { "$ref": "#/components/parameters/idempotencyKey" }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GcpByokRequest" } } } }, "responses": { "200": { "$ref": "#/components/responses/Success" }, "400": { "$ref": "#/components/responses/Error" }, "403": { "$ref": "#/components/responses/Error" }, "409": { "$ref": "#/components/responses/Error" } } }
    },
    "/api/v1/orgs/{orgId}/agent-fabric/devices": { "$ref": "#/components/pathItems/devices" },
    "/api/v1/orgs/{orgId}/agent-fabric/workspaces": { "$ref": "#/components/pathItems/workspaces" },
    "/api/v1/orgs/{orgId}/agent-fabric/agents": { "$ref": "#/components/pathItems/agents" },
    "/api/v1/orgs/{orgId}/agent-fabric/endpoints": { "$ref": "#/components/pathItems/endpoints" },
    "/api/v1/orgs/{orgId}/agent-fabric/trajectories": { "$ref": "#/components/pathItems/trajectories" },
    "/api/v1/orgs/{orgId}/agent-fabric/evals": { "$ref": "#/components/pathItems/evals" },
    "/api/v1/orgs/{orgId}/agent-fabric/failures": { "$ref": "#/components/pathItems/failures" },
    "/api/v1/orgs/{orgId}/agent-fabric/tasks": { "$ref": "#/components/pathItems/tasks" },
    "/api/v1/orgs/{orgId}/agent-fabric/conversations": { "$ref": "#/components/pathItems/conversations" },
    "/api/v1/orgs/{orgId}/agent-fabric/skills": { "$ref": "#/components/pathItems/skills" },
    "/api/v1/orgs/{orgId}/agent-fabric/usage": { "$ref": "#/components/pathItems/usage" },
    "/api/orgs/{orgId}/managed-agents": { "$ref": "#/components/pathItems/managedAgents" },
    "/api/orgs/{orgId}/agent-runs": { "$ref": "#/components/pathItems/agentRuns" },
    "/api/orgs/{orgId}/agent-runs/{runId}": { "get": { "operationId": "getAgentRun", "summary": "Get an asynchronous run", "parameters": [{ "$ref": "#/components/parameters/orgId" }, { "$ref": "#/components/parameters/runId" }], "responses": { "200": { "$ref": "#/components/responses/Success" }, "404": { "$ref": "#/components/responses/Error" } } } },
    "/api/orgs/{orgId}/agent-runs/{runId}/events": { "get": { "operationId": "getAgentRunEvents", "summary": "Get ordered run events and trace references", "parameters": [{ "$ref": "#/components/parameters/orgId" }, { "$ref": "#/components/parameters/runId" }], "responses": { "200": { "$ref": "#/components/responses/Success" } } } },
    "/api/orgs/{orgId}/managed-evals/campaigns": { "$ref": "#/components/pathItems/managedEvals" },
    "/api/orgs/{orgId}/managed-traces": { "$ref": "#/components/pathItems/managedTraces" },
    "/api/orgs/{orgId}/managed-remediation/candidates": { "$ref": "#/components/pathItems/remediationCandidates" }
  },
  "components": {
    "securitySchemes": { "organizationToken": { "type": "http", "scheme": "bearer", "bearerFormat": "Dharma organization token" } },
    "parameters": {
      "orgId": { "name": "orgId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } },
      "runId": { "name": "runId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "idempotencyKey": { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string", "minLength": 8, "maxLength": 200 } }
    },
    "schemas": {
      "Object": { "type": "object", "additionalProperties": true },
      "OnboardingRequest": { "type": "object", "additionalProperties": false, "properties": { "action": { "type": "string", "enum": ["start", "advance"], "default": "start" }, "companyName": { "type": "string", "maxLength": 120 }, "runtimeMode": { "type": "string", "enum": ["dharma_managed", "gcp_vertex_byok", "local_byok"], "default": "dharma_managed" }, "spendCeilingUsd": { "type": "number", "minimum": 1, "maximum": 100 } } },
      "GcpByokRequest": { "oneOf": [
        { "type": "object", "additionalProperties": false, "required": ["action"], "properties": { "action": { "const": "verify" } } },
        { "type": "object", "additionalProperties": false, "required": ["projectId", "projectNumber", "region", "runtimeUrl", "runtimeServiceName", "serviceAccountEmail"], "properties": { "action": { "const": "configure" }, "projectId": { "type": "string" }, "projectNumber": { "type": "string", "pattern": "^[0-9]{6,20}$" }, "region": { "type": "string" }, "runtimeUrl": { "type": "string", "format": "uri", "pattern": "^https://" }, "runtimeServiceName": { "type": "string" }, "serviceAccountEmail": { "type": "string", "format": "email" }, "spendCeilingUsd": { "type": "number", "minimum": 1, "maximum": 100 } } }
      ] },
      "ManagedRunImageAttachment": { "type": "object", "additionalProperties": false, "required": ["displayName", "mimeType", "dataBase64", "sha256"], "properties": { "displayName": { "type": "string", "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,119}$" }, "mimeType": { "type": "string", "enum": ["image/jpeg", "image/png", "image/webp"] }, "dataBase64": { "type": "string", "contentEncoding": "base64", "maxLength": 700000, "description": "Inline image bytes. At most two images and 512 KiB decoded total per request." }, "sha256": { "type": "string", "pattern": "^sha256:[a-f0-9]{64}$" } } },
      "ManagedRunRequest": { "type": "object", "additionalProperties": false, "required": ["agentId", "prompt"], "properties": { "agentId": { "type": "string", "minLength": 1 }, "prompt": { "type": "string", "minLength": 1, "maxLength": 100000 }, "attachments": { "type": "array", "maxItems": 2, "items": { "$ref": "#/components/schemas/ManagedRunImageAttachment" } }, "metadata": { "type": "object", "additionalProperties": true }, "maxRuntimeSeconds": { "type": "integer", "minimum": 30, "maximum": 3600 }, "estimatedCredits": { "type": "integer", "minimum": 1, "maximum": 500000 } } },
      "A2aStateEnvelope": { "type": "object", "additionalProperties": false, "required": ["intent", "evidence_used", "known_state", "unknown_or_missing_state", "allowed_next_actions", "blocked_actions", "decision_authority", "tool_results"], "properties": { "intent": { "type": "string", "maxLength": 1000 }, "evidence_used": { "type": "array", "maxItems": 50, "items": { "type": "string", "maxLength": 500 } }, "known_state": { "type": "object", "additionalProperties": true }, "unknown_or_missing_state": { "type": "array", "maxItems": 50, "items": { "type": "string", "maxLength": 1000 } }, "allowed_next_actions": { "type": "array", "maxItems": 50, "items": { "type": "string", "maxLength": 500 } }, "blocked_actions": { "type": "array", "maxItems": 50, "items": { "type": "string", "maxLength": 500 } }, "decision_authority": { "type": "string", "maxLength": 1000 }, "tool_results": { "type": "array", "maxItems": 50 } } },
      "A2aHandoffRequest": { "type": "object", "additionalProperties": false, "required": ["sourceTaskId", "targetEndpointId", "requestedResponse", "stateEnvelope"], "properties": { "sourceTaskId": { "type": "string", "format": "uuid" }, "targetEndpointId": { "type": "string", "format": "uuid" }, "conversationId": { "type": "string", "format": "uuid" }, "requestedResponse": { "type": "string", "enum": ["status_update", "proposal", "evidence_request", "task_result", "clarification"] }, "responseInstructions": { "type": "string", "maxLength": 2000 }, "stateEnvelope": { "$ref": "#/components/schemas/A2aStateEnvelope" }, "evidenceReferences": { "type": "array", "maxItems": 20, "items": { "type": "object", "additionalProperties": false, "required": ["trajectoryId", "revision", "capsuleHash"], "properties": { "trajectoryId": { "type": "string", "format": "uuid" }, "revision": { "type": "integer", "minimum": 1 }, "capsuleHash": { "type": "string", "pattern": "^sha256:[a-f0-9]{64}$" } } } } } },
      "ErrorEnvelope": { "type": "object", "required": ["ok", "error"], "properties": { "ok": { "const": false }, "error": { "type": "object", "required": ["code", "message"], "properties": { "code": { "type": "string" }, "message": { "type": "string" }, "correlationId": { "type": ["string", "null"] } } } } }
    },
    "responses": {
      "Success": { "description": "Organization-scoped response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Object" } } } },
      "Accepted": { "description": "Asynchronous work accepted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Object" } } } },
      "Created": { "description": "Resource created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Object" } } } },
      "Error": { "description": "Stable non-enumerating error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } }
    },
    "pathItems": {
      "devices": { "get": { "operationId": "listDevices", "summary": "List enrolled organization devices", "parameters": [{ "$ref": "#/components/parameters/orgId" }], "responses": { "200": { "$ref": "#/components/responses/Success" } } } },
      "workspaces": { "get": { "operationId": "listWorkspaces", "summary": "List registered workspaces and independent provider capabilities", "parameters": [{ "$ref": "#/components/parameters/orgId" }], "responses": { "200": { "$ref": "#/components/responses/Success" } } } },
      "agents": { "get": { "operationId": "listAgents", "summary": "List logical agents", "parameters": [{ "$ref": "#/components/parameters/orgId" }], "responses": { "200": { "$ref": "#/components/responses/Success" } } }, "post": { "operationId": "createAgent", "summary": "Create a logical agent", "parameters": [{ "$ref": "#/components/parameters/orgId" }, { "$ref": "#/components/parameters/idempotencyKey" }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Object" } } } }, "responses": { "201": { "$ref": "#/components/responses/Created" } } } },
      "endpoints": { "post": { "operationId": "bindAgentEndpoint", "summary": "Bind an independently verified local provider endpoint", "parameters": [{ "$ref": "#/components/parameters/orgId" }, { "$ref": "#/components/parameters/idempotencyKey" }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Object" } } } }, "responses": { "201": { "$ref": "#/components/responses/Created" }, "409": { "$ref": "#/components/responses/Error" } } } },
      "trajectories": { "get": { "operationId": "listTrajectories", "summary": "List reduced trajectory capsules", "parameters": [{ "$ref": "#/components/parameters/orgId" }], "responses": { "200": { "$ref": "#/components/responses/Success" } } } },
      "evals": { "get": { "operationId": "listEvaluations", "summary": "List analysis windows and evaluations", "parameters": [{ "$ref": "#/components/parameters/orgId" }], "responses": { "200": { "$ref": "#/components/responses/Success" } } }, "post": { "operationId": "requestAnalysis", "summary": "Close an explicit analysis window", "parameters": [{ "$ref": "#/components/parameters/orgId" }, { "$ref": "#/components/parameters/idempotencyKey" }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Object" } } } }, "responses": { "202": { "$ref": "#/components/responses/Accepted" } } } },
      "failures": { "get": { "operationId": "listFailureAtlas", "summary": "List customer-isolated Failure Atlas families", "parameters": [{ "$ref": "#/components/parameters/orgId" }], "responses": { "200": { "$ref": "#/components/responses/Success" } } } },
      "tasks": { "get": { "operationId": "listTasks", "summary": "List bounded signed tasks", "parameters": [{ "$ref": "#/components/parameters/orgId" }], "responses": { "200": { "$ref": "#/components/responses/Success" } } }, "post": { "operationId": "dispatchTask", "summary": "Dispatch a signed task to an allowed endpoint", "parameters": [{ "$ref": "#/components/parameters/orgId" }, { "$ref": "#/components/parameters/idempotencyKey" }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Object" } } } }, "responses": { "201": { "$ref": "#/components/responses/Created" } } } },
      "conversations": { "get": { "operationId": "listHandoffs", "summary": "List task-bound A2A handoffs", "parameters": [{ "$ref": "#/components/parameters/orgId" }], "responses": { "200": { "$ref": "#/components/responses/Success" } } }, "post": { "operationId": "dispatchHandoff", "summary": "Request structured help from another same-organization agent", "parameters": [{ "$ref": "#/components/parameters/orgId" }, { "$ref": "#/components/parameters/idempotencyKey" }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/A2aHandoffRequest" } } } }, "responses": { "201": { "$ref": "#/components/responses/Created" } } } },
      "skills": { "get": { "operationId": "listSkills", "summary": "List signed skill releases and rollouts", "parameters": [{ "$ref": "#/components/parameters/orgId" }], "responses": { "200": { "$ref": "#/components/responses/Success" } } }, "post": { "operationId": "releaseSkill", "summary": "Create a signed skill release after evaluation gates", "parameters": [{ "$ref": "#/components/parameters/orgId" }, { "$ref": "#/components/parameters/idempotencyKey" }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Object" } } } }, "responses": { "201": { "$ref": "#/components/responses/Created" } } } },
      "usage": { "get": { "operationId": "getUsage", "summary": "Get customer-visible credits and usage", "parameters": [{ "$ref": "#/components/parameters/orgId" }], "responses": { "200": { "$ref": "#/components/responses/Success" } } } },
      "managedAgents": { "get": { "operationId": "listManagedAgents", "summary": "List immutable managed ADK agents", "parameters": [{ "$ref": "#/components/parameters/orgId" }], "responses": { "200": { "$ref": "#/components/responses/Success" } } }, "post": { "operationId": "createManagedAgent", "summary": "Create a managed ADK agent", "parameters": [{ "$ref": "#/components/parameters/orgId" }, { "$ref": "#/components/parameters/idempotencyKey" }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Object" } } } }, "responses": { "201": { "$ref": "#/components/responses/Created" } } } },
      "agentRuns": { "get": { "operationId": "listAgentRuns", "summary": "List managed and GCP BYOK runs", "parameters": [{ "$ref": "#/components/parameters/orgId" }], "responses": { "200": { "$ref": "#/components/responses/Success" } } }, "post": { "operationId": "submitAgentRun", "summary": "Submit an asynchronous multimodal agent run", "parameters": [{ "$ref": "#/components/parameters/orgId" }, { "$ref": "#/components/parameters/idempotencyKey" }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ManagedRunRequest" } } } }, "responses": { "202": { "$ref": "#/components/responses/Accepted" } } } },
      "managedEvals": { "post": { "operationId": "createManagedEvaluation", "summary": "Launch direct and stateful evaluation arms", "parameters": [{ "$ref": "#/components/parameters/orgId" }, { "$ref": "#/components/parameters/idempotencyKey" }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Object" } } } }, "responses": { "202": { "$ref": "#/components/responses/Accepted" } } } },
      "managedTraces": { "get": { "operationId": "listManagedTraces", "summary": "List customer-visible run traces", "parameters": [{ "$ref": "#/components/parameters/orgId" }], "responses": { "200": { "$ref": "#/components/responses/Success" } } } },
      "remediationCandidates": { "get": { "operationId": "listRemediationCandidates", "summary": "List GitHub-backed remediation candidates and held-out evidence", "parameters": [{ "$ref": "#/components/parameters/orgId" }], "responses": { "200": { "$ref": "#/components/responses/Success" } } } }
    }
  }
}
